<div id="form-container">
  <%= form_for @account, url: login_path, method: :post do |f| %>

  <%= f.text_field :username, placeholder: "username" %>

  <%= f.password_field :password, placeholder: "password" %><br></br>

  <%= f.submit 'Login', class: 'btn btn-info btn-lg', id: "login" %>
  <% end %>
</div>
