/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 */
 @import "font-awesome";
 @import "bootstrap-sprockets";
 @import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Raleway');

body {
  background-color: purple;
}

#main-title {
  margin: auto;
  font-size: 5em;
  text-align: center;
  color: orange;
  font-family: 'Carrois Gothic SC', sans-serif;
  display: inline-block;
}

#header {
  background-color: gray;
  text-align: center;
  position: relative
}

.dropdown {
  float: left;
  position: absolute;
  bottom: 0;
}

.dropdown-toggle:focus {
  background-color: orange;
}

.dropdown-toggle {
  background-color: orange;
}
