/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 */
 @import "font-awesome";
 @import "bootstrap-sprockets";
 @import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Raleway');

body {
  background: linear-gradient(red, yellow);
  height: 50em;
}

#main-title {
  margin: auto;
  font-size: 5em;
  text-align: center;
  color: orange;
  font-family: 'Carrois Gothic SC', sans-serif;
  display: inline-block;
}

#header {
  background-color: rgba(128,128,128, 0.75);
  text-align: center;
  width: 100%;
  z-index: 1;
  position: fixed;
  padding: 3em 0 3em 0;
}

.dropdown {
  float: left;
  position: absolute;
  bottom: 0;
}

#custom-btn{
  background-color: orange;
}

#custom-btn:hover {
  background-color: blue;
}

#space {
  margin-top: 15%;
  display: inline-block;
}
