// Place all the styles related to the musics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.music-title {
  color: orange;
  font-family: 'Raleway', sans-serif;
}

#search-bar {
  display: none;
}

.card {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 1em 0 1em 0;
  margin: 1em 0 1em 0;
  overflow: scroll;
  width: 75%;
}

////// Show stuff //////

#show-container {
  text-align: center;
  margin: 5% auto;
  padding: 3%;
  background-color: white;
  font-family: 'Carrois Gothic SC', sans-serif;
  width: 45%;
}

#show-container p {
  font-size: 125%;
}

#show-container a {
  font-size: 125%;
  text-decoration: none;
  color:inherit;
  margin: 5% 20%;
}
