<div id="modalSearch" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Search</h4>
      </div>
      <div class="modal-body">
        <%= form_tag '/', method: :get do %>
        <%= select_tag "music[search_by]", options_for_select(['title', 'composer', 'book']) %>
        <%= text_field_tag 'music[query]' %>
        <%= submit_tag 'search' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
