
<% if logged_in? %>
<div>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalSearch">Search</button>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Music</button>
</div>
<% end %>


<% @musics.each do |music| %>
  <div class="col-md-6">
    <div class="card">
      <h1 class="music-title"><%= link_to "#{music.title.titleize}", music %></h1>
      <h2><%= music.composer.titleize %></h2>
    </div>
  </div>
<% end %>

<div>
  <%= render partial: 'musics/modal', locals: {music: @music} %>
</div>
<%= render partial: 'musics/search-modal', locals: {music: @music} %>
